@use "../components/styles/navbar.style.scss" as navbar;

$safetyPadding: 20px;
main {
  padding-left: $safetyPadding;
  margin-right: $safetyPadding;
  width: calc(100vw - navbar.$buttonSize - $safetyPadding);
  height: 100vh;
}
